<h2> Awesome Bucketlist App11 </h2>

<!-- Table starts here -->
<table id="table">
  <thead>
  <tr>
    <th>Priority Level</th>
    <th>Title</th>
    <th>Description</th>
    <th>First Item</th>

  </tr>
  </thead>
  <tbody>
  <tr (click)="ListDetails.DisplayListItems(list); " *ngFor="let list of lists">
    <td>{{list.category}}</td>
    <td>{{list.title}}</td>
    <td>{{list.description}}</td>
    <td> <button type="button" (click)="deleteList(list); $event.stopPropagation();">Delete</button></td>

  </tr>
  </tbody>
  <app-list-item-details #ListDetails></app-list-item-details>
</table>

<app-add-list (addList)='onAddList($event)'> </app-add-list>

